#Save file as .env
DEBUG=FALSE
PROD_ENV=FALSE
GEMINI_API_KEY=AIza*******2P3Q
GEMINI_MODEL=gemini-3-flash-preview
GEMINI_CONFIG={"temperature": 0.0, "seed": 42}

_CONTEXT_CACHING=FALSE
_GOOGLE_CLOUD_PROJECT=your-google-cloud-project-id
_PROMPT_IDX_PATH=prompts/prompt.idx

IMAGE_API_KEY={{GEMINI_API_KEY}}
IMAGE_MODEL=gemini-2.5-flash-image
IMAGE_CONFIG={"response_modalities": ["IMAGE"]}